<table width="650" cellpadding="0" cellspacing="0" border="0" align="center"
    style="border:1px solid #d8d8d8;padding:0px 35px 40px 35px;background-color:#f2f2f2"
    class="m_4419141816033441883deviceWidth m_4419141816033441883wrapWidth">
    <tbody> <tr> <td align="left" height="64" width="138"> <img height="64"
                    width="138"
                    src="<%= logoUrl %>" alt="BismiETickets" style="vertical-align:top"> </td>
        </tr> <tr> <td height="19px"> </td> </tr> <tr> <td align="right"
                height="67" width="172"> <img height="67" width="172"
                    src="https://ci3.googleusercontent.com/meips/ADKq_NYt80M06zObH8ROPEj2GeFZj4rDHA9NQmej6-fKbN1EqqleJ8hdWF-m4kARsM7zLyRObgaX9THfnIcUH-BNVhHQ_Iryq__n9v_LTU7Yyv1mRxvn0YFF=s0-d-e1-ft#https://mailmktg.makemytrip.com/images/illustration-18102024.png"
                    alt="Illustration" style="vertical-align:top"> </td> </tr>
        <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0"
                    style="background-color:#ffffff;border-radius:16px;border:1px solid #d8d8d8;padding:30px">
                    <tbody> <tr> <td
                                style="font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;color:#272727">
                                Dear Travel Partner, </td> </tr> <tr> <td
                                style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#272727;line-height:19px;width:100%;padding:11px 0px 0px 0px">
                                We have received your group booking Inventory. we are approved your data for the customer purchase. Kindly check the details and Please
                                use the below mentioned Inventory ID as reference to your query. </td> </tr> <tr> <td
                                style="padding:16px 0px 0px 0px"> <table
                                    width="100%" cellpadding="0" cellspacing="0"
                                    border="0"
                                    style="background-color:#e5f3fe;border-radius:16px;padding:16px">
                                    <tr> <td> <table cellpadding="0"
                                                cellspacing="0" border="0"> <tr>
                                                    <td
                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4a4a4a">
                                                        Inventory ID: <span
                                                            style="font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;font-weight:bold;padding:0px 0px 0px 2px"><%= newFlight.inventoryId %></span>
                                                    </td> </tr> </table> </td>
                                    </tr> </table> </td> </tr> <tr> <td
                                style="padding:12px 0px 0px 0px"> <table
                                    width="100%" cellpadding="0" cellspacing="0"
                                    border="0"
                                    style="background-color:#f7f7f7;border-radius:16px;padding:16px;table-layout:fixed">
                                    <tr><td
                                            style="padding-bottom:12px;width:100%"><table
                                                cellpadding="0" cellspacing="0"
                                                border="0"><tbody><tr><td><table
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0"><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#4a4a4a">Origin
                                                                        City</td></tr><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:9px;color:#4a4a4a;padding-top:4px"><%= newFlight.fromCity %>
                                                                        (<%= newFlight.from %>)</td></tr><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:9px;color:#4a4a4a;padding-top:2px"><%= newFlight.departureName %></td></tr></table></td><td
                                                            width="24px">
                                                        </td><td><table
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0"><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#4a4a4a">Destination
                                                                        City</td></tr><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:9px;color:#4a4a4a;padding-top:4px"><%= newFlight.toCity %>
                                                                        (<%= newFlight.to %>)</td></tr><tr><td
                                                                        style="font-family:Arial,Helvetica,sans-serif;font-size:9px;color:#4a4a4a;padding-top:2px"><%= newFlight.arrivalName %>
                                                                        </td></tr></table></td></tr></tbody></table></td></tr>
                                    <tr> <td height="1px"
                                            style="border-top:0.2px solid #c9c9c9;padding:12px 0px 0px 0px;width:100%"></td>
                                    </tr> <tr> <td style="width:100%"> <table
                                                cellpadding="0" cellspacing="0"
                                                border="0"> <tbody> <tr> <td>
                                                            <table
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0">
                                                                <tbody> <tr> <td
                                                                            style="font-size:12px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                            Travel
                                                                            Type
                                                                        </td>
                                                                    </tr> <tr>
                                                                        <td
                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;padding:5px 0px 0px 0px">
                                                                            One
                                                                            Way
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> </td> <td
                                                            width="32px"> </td>
                                                        <td> <table width="100%"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0">
                                                                <tbody> <tr> <td
                                                                            style="font-size:12px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                            Passengers
                                                                        </td>
                                                                    </tr> <tr>
                                                                        <td
                                                                            style="padding:5px 0px 0px 0px">
                                                                            <table
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                                            Adults:
                                                                                            <%= newFlight.inventoryDates[0].seats %>
                                                                                        </td>
                                                                                        <td
                                                                                            width="4px">
                                                                                        </td>
                                                                                        <td
                                                                                            height="10px"
                                                                                            width="1px"
                                                                                            style="border-right:1px solid #c9c9c9"></td>
                                                                                        <td
                                                                                            width="4px">
                                                                                        </td>
                                                                                        <td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                                            Children:
                                                                                            0
                                                                                        </td>
                                                                                        <td
                                                                                            width="4px">
                                                                                        </td>
                                                                                        <td
                                                                                            height="10px"
                                                                                            width="1px"
                                                                                            style="border-right:1px solid #c9c9c9"></td>
                                                                                        <td
                                                                                            width="4px">
                                                                                        </td>
                                                                                        <td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                                            Infants:
                                                                                            0
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> </td> <td
                                                            width="32px"> </td>
                                                        <td> <table
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0">
                                                                <tbody> <tr> <td
                                                                            style="font-size:12px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a">
                                                                            Budget
                                                                        </td>
                                                                    </tr> <tr>
                                                                        <%
                                                                        const budget = newFlight.inventoryDates[0].seats * newFlight.inventoryDates[0].fare.adults;
                                                                      %>                                                                      
                                                                        <td
                                                                            style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#000000;padding:5px 0px 0px 0px">
                                                                            ₹
                                                                            <%= budget %>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> </td> </tr>
                                                </tbody> </table> </td> </tr>
                                </table> </td> </tr> <tr> <td
                                style="padding:12px 0px 0px 0px"> <table
                                    width="100%" cellpadding="0" cellspacing="0"
                                    border="0"
                                    style="background-color:#f7f7f7;border-radius:16px;padding:16px;table-layout:fixed">
                                    <tbody> <tr> <td
                                                style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#272727">
                                                Preferred flight options: </td>
                                        </tr> <tr> <td
                                                style="padding:8px 0px 0px 0px">
                                                <table width="100%"
                                                    cellpadding="0"
                                                    cellspacing="0" border="0"
                                                    style="background-color:#f7f7f7;border-radius:16px;table-layout:fixed;border:0.2px solid #aba9b9">
                                                    <tr> <td
                                                            style="background-color:#e1e1e1;width:100%;border-radius:16px 16px 0px 0px;padding:8px 16px 8px 16px;border-bottom:0.2px solid #aba9b9">
                                                            <table width="100%"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0">
                                                                <tbody> <tr> <td
                                                                            align="left"
                                                                            style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;width:25%">
                                                                            Sector
                                                                        </td>
                                                                        <td
                                                                            align="left"
                                                                            style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;width:19%">
                                                                            Flight
                                                                            Number
                                                                        </td>
                                                                        <td
                                                                            align="left"
                                                                            style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;width:28%">
                                                                            Departure
                                                                        </td>
                                                                        <td
                                                                            align="left"
                                                                            style="font-size:9px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;width:28%">
                                                                            Arrival
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table> </td> </tr>
                                                    <tr><td
                                                            style="width:100%;padding:10px 16px 10px 16px;border-bottom:0.2px solid #aba9b9"><table
                                                                width="100%"
                                                                cellpadding="0"
                                                                cellspacing="0"
                                                                border="0"><tbody><tr><td
                                                                            align="left"
                                                                            style="width:25%;vertical-align:top"><table
                                                                                width="90%"
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"><tbody><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a"><%= newFlight.from %>-<%= newFlight.to %></td></tr><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a"><%= newFlight.duration %></td></tr></tbody></table></td><td
                                                                            align="left"
                                                                            style="width:19%;vertical-align:top"><table
                                                                                width="100%"
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"><tbody><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a"><%= newFlight.stops[0].airlineCode %>
                                                                                            <%= newFlight.stops[0].flightNumber %></td></tr><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#767676"><%= newFlight.stops[0].airline %></td></tr></tbody></table></td><td
                                                                            align="left"
                                                                            style="width:28%;vertical-align:top"><table
                                                                                width="70%"
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"><tbody><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a"><%= newFlight.departureName %></td></tr><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#767676"><%= newFlight.departureDate %>,<span
                                                                                                style="color:#000000"><%= newFlight.departureTime %></span></td></tr></tbody></table></td><td
                                                                            align="left"
                                                                            style="width:28%;vertical-align:top"><table
                                                                                width="70%"
                                                                                cellpadding="0"
                                                                                cellspacing="0"
                                                                                border="0"><tbody><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a"><%= newFlight.arrivalName %></td></tr><tr><td
                                                                                            style="font-size:9px;font-family:Arial,Helvetica,sans-serif;color:#767676"><%= newFlight.arrivalDate %>,<span
                                                                                                style="color:#000000">
                                                                                                <%= newFlight.arrivalTime %></span></td></tr></tbody></table></td></tr></tbody></table></td></tr>
                                                </table> </td> </tr> </tbody>
                                </table> </td> </tr> <tr> <td
                                style="font-size:12px;font-family:Arial,Helvetica,sans-serif;color:#4a4a4a;line-height:14px;padding:24px 0px 0px 0px">
                                In case of any questions/concerns, feel free to
                                reach out to us at <a
                                    href="mailto:support@bismietickets.com"
                                    target="_blank">support@bismietickets.<wbr>com</a>
                            </td> </tr> </tbody> </table> </td> </tr> <tr> <td
                align="center" height="24" width="72"
                style="padding:32px 0px 0px 0px"> <img height="24" width="72"
                    src="<%= logoUrl %>"
                    alt="logo"> </td> </tr> </tbody> </table>