<%- include('./partials/header') %>
    <%- include('./partials/userHeader') %>

        <!-- **************** MAIN CONTENT START **************** -->
        <main>

            <!-- =======================
    Content START -->
            <section class="pt-3">
                <div class="container">
                    <div class="row">

                        <%- include('./partials/userSidebar') %>

                            <!-- Main content START -->
                            <div class="col-lg-8 col-xl-9">

                                <!-- Offcanvas menu button -->
                                <div class="d-grid mb-0 d-lg-none w-100">
                                    <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                                        <i class="fas fa-sliders-h"></i> Menu
                                    </button>
                                </div>

                                <div class="vstack gap-4">
                                    <!-- Verified message -->
                                    <div class="bg-light rounded p-3">
                                        <!-- Progress bar -->
                                        <div class="overflow-hidden">
                                            <h6>Complete Your KYC</h6>
                
                                            <% let progress = 0, progressColor = "bg-danger"; %>
                                            <% if (userDetails.kyc === "Completed") { progress = 100; progressColor = "bg-success"; } %>
                                            <% if (userDetails.kyc === "Initial") { progress = 50; progressColor = "bg-warning"; } %>
                
                                            <div class="progress progress-sm bg-opacity-10">
                                                <div class="progress-bar <%= progressColor %> aos" role="progressbar"
                                                    data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000"
                                                    data-aos-easing="ease-in-out" style="width: <%= progress %>%"
                                                    aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="progress-percent-simple h6 fw-light ms-auto">
                                                        <%= progress %>%</span>
                                                </div>
                                            </div>
                
                                            <% if ( userDetails.kyc === "Completed") { %>
                                                <p class="mb-0 text-success">You're all set! Your KYC is fully verified.</p>
                                            <% } else { %>
                                                <p class="mb-0">Get the best out of booking by adding the remaining details!</p>
                                            <% } %>
                                        </div>
                
                                        <!-- Verification Steps -->
                                        <div class="bg-body rounded p-3 mt-3">
                                            <ul class="list-inline hstack flex-wrap gap-2 justify-content-between mb-0">
                                                <li class="list-inline-item h6 fw-normal mb-0">
                                                    <a href="#initialKyc">
                                                        <i class="bi <%= userDetails.kyc === 'Initial' || userDetails.kyc === 'Completed' ? 'bi-check-circle-fill text-success' : 'bi-plus-circle-fill text-primary' %> me-2"></i>
                                                        Verify Visiting Card
                                                    </a>
                                                </li>
                                                <li class="list-inline-item h6 fw-normal mb-0">
                                                    <a href="#initialKyc">
                                                        <i class="bi <%= userDetails.kyc === 'Initial' || userDetails.kyc === 'Completed' ? 'bi-check-circle-fill text-success' : 'bi-plus-circle-fill text-primary' %> me-2"></i>
                                                        Verify PAN Card
                                                    </a>
                                                </li>
                                                <li class="list-inline-item h6 fw-normal mb-0">
                                                    <a href="#finalKyc">
                                                        <i class="bi <%= userDetails.kyc === 'Completed' ? 'bi-check-circle-fill text-success' : 'bi-plus-circle-fill text-primary' %> me-2"></i>
                                                        Verify Aadhaar
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                    </div>

                                    <!-- Initial KYC START -->
                                    <div class="card border" id="initialKyc">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h4 class="card-header-title">Initial KYC</h4>
                                            <p class="mb-0 mt-1">Complete this step to get a Free Subscription. </p>
                                        </div>

                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <form class="row g-3" id="initialKycForm" enctype="multipart/form-data">
                                                <div class="col-6">
                                                    <label class="form-label">Upload Visiting Card <span class="text-danger">*</span></label>
                                                    <div class="d-flex align-items-center">
                                                        <label class="position-relative me-4" for="upload-card">
                                                            <span class="avatar avatar-xl" style="height: 200px; width: 350px;">
                                                                <img id="upload-card-preview"
                                                                    class="avatar-img border border-white border-3 shadow"
                                                                    src="<%= userDetails.visitingCard ? userDetails.visitingCard : '/assets/images/avatar/default-card.jpg' %>"
                                                                    alt="visiting-card" style=" object-fit: cover; border-radius: 8px;">
                                                            </span>                                                            
                                                        </label>
                                                        <input id="upload-card" class="form-control d-none" type="file"
                                                            accept="image/*" name="visitingCard">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <label class="form-label">Upload PAN Card <span class="text-danger">*</span></label>
                                                    <div class="d-flex align-items-center">
                                                        <label class="position-relative me-4" for="upload-pan">
                                                            <span class="avatar avatar-xl" style="height: 200px; width: 350px;">
                                                                <img id="upload-pan-preview"
                                                                    class="avatar-img border border-white border-3 shadow"
                                                                    src="<%= userDetails.panCard ? userDetails.panCard : '/assets/images/avatar/default-pan.jpeg' %>"
                                                                    alt="pan-card" style=" object-fit: cover; border-radius: 8px;">
                                                            </span>                                                            
                                                        </label>
                                                        <input id="upload-pan" class="form-control d-none" type="file"
                                                            accept="image/*" name="panCard">
                                                    </div>
                                                </div>
                
                                                <div class="col-12 text-end">
                                                    <button type="submit" class="btn btn-primary mb-0" id="verifyCard">Verify Card</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Card body END -->
                                    </div>
                                    <!-- Initial KYC END -->

                                    <!-- Final KYC START -->
                                    <div class="card border" id="finalKyc" style="<%= userDetails.kyc != 'Pending' ? 'display: block;' : 'display: none;' %>">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h4 class="card-header-title">Final KYC</h4>
                                        </div>

                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <form class="row g-3" id="finalKycForm" enctype="multipart/form-data">
                                                <div class="col-6">
                                                    <label class="form-label">Upload Aadhaar Card (Front-side) <span class="text-danger">*</span></label>
                                                    <div class="d-flex align-items-center">
                                                        <label class="position-relative me-4" for="upload-aadhaar-1">
                                                            <span class="avatar avatar-xl" style="height: 200px; width: 350px;">
                                                                <img id="upload-aadhaar-1-preview"
                                                                    class="avatar-img border border-white border-3 shadow"
                                                                    src="<%= userDetails.aadhaarCardFront ? userDetails.aadhaarCardFront : '/assets/images/avatar/default-aadhaar.png' %>"
                                                                    alt="aadhaar-card" style=" object-fit: cover; border-radius: 8px;">
                                                            </span>                                                            
                                                        </label>
                                                        <input id="upload-aadhaar-1" class="form-control d-none" type="file"
                                                            accept="image/*" name="aadhaarCard">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <label class="form-label">Upload Aadhaar Card (Back-side) <span class="text-danger">*</span></label>
                                                    <div class="d-flex align-items-center">
                                                        <label class="position-relative me-4" for="upload-aadhaar-2">
                                                            <span class="avatar avatar-xl" style="height: 200px; width: 350px;">
                                                                <img id="upload-aadhaar-2-preview"
                                                                    class="avatar-img border border-white border-3 shadow"
                                                                    src="<%= userDetails.aadhaarCardBack ? userDetails.aadhaarCardBack : '/assets/images/avatar/default-aadhaar.png' %>"
                                                                    alt="aadhaar-card" style=" object-fit: cover; border-radius: 8px;">
                                                            </span>                                                            
                                                        </label>
                                                        <input id="upload-aadhaar-2" class="form-control d-none" type="file"
                                                            accept="image/*" name="aadhaarCard">
                                                    </div>
                                                </div>
                
                                                <div class="col-12 text-end">
                                                    <button type="submit" class="btn btn-primary mb-0" id="verifyAadhaar">Verify Aadhaar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Card body END -->
                                    </div>
                                    <!-- Final KYC END -->
                                </div>
                            </div>
                            <!-- Main content END -->

                    </div>
                </div>
            </section>
            <!-- ======================= Content END -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const uploadVisitingCard = document.getElementById("upload-card");
    const uploadPanCard = document.getElementById("upload-pan");
    const uploadAadhaarCard1 = document.getElementById("upload-aadhaar-1");
    const uploadAadhaarCard2 = document.getElementById("upload-aadhaar-2");
    const verifyCardBtn = document.getElementById("verifyCard");
    const verifyAadhaarBtn = document.getElementById("verifyAadhaar");
    const kycStatus = '<%= userDetails.subscription ? userDetails.subscription.kyc : null %>';
    
    function handleKycStatus(kycStatus) {
            if (kycStatus === 'Initial' || kycStatus === 'Completed') {
                uploadVisitingCard.disabled = true;
                uploadPanCard.disabled = true;
                verifyCardBtn.textContent = "Completed";
                verifyCardBtn.classList.remove("btn-primary");
                verifyCardBtn.classList.add("btn-success");
            }
            if (kycStatus === 'Completed') {
                uploadAadhaarCard1.disabled = true;
                uploadAadhaarCard2.disabled = true;
                verifyAadhaarBtn.textContent = "Completed";
                verifyAadhaarBtn.classList.remove("btn-primary");
                verifyAadhaarBtn.classList.add("btn-success");
            }
        }
        handleKycStatus(kycStatus);

    uploadVisitingCard.addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("upload-card-preview").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

        uploadPanCard.addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("upload-pan-preview").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

    uploadAadhaarCard1.addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("upload-aadhaar-1-preview").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    uploadAadhaarCard2.addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById("upload-aadhaar-2-preview").src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

    // Initially disable both buttons
    verifyCardBtn.disabled = true;
    verifyAadhaarBtn.disabled = true;

    function checkCardUploads() {
            if (uploadVisitingCard.files.length > 0 && uploadPanCard.files.length > 0) {
                verifyCardBtn.disabled = false;
            } else {
                verifyCardBtn.disabled = true;
            }
        }

        // Add event listeners to both file inputs
        uploadVisitingCard.addEventListener("change", checkCardUploads);
        uploadPanCard.addEventListener("change", checkCardUploads);

    // Handle Visiting Card form submission
    verifyCardBtn.addEventListener("click", async function (event) {
        event.preventDefault();
        const formData = new FormData();
        if (uploadVisitingCard.files.length > 0) {
                formData.append("visitingCard", uploadVisitingCard.files[0]);
            } else {
                alert("Please select a Visiting card image.");
                return;
            }
             if (uploadPanCard.files.length > 0) {
                formData.append("panCard", uploadPanCard.files[0]);
            } else {
                alert("Please select a PAN card image.");
                return;
            }

        try {
            const response = await fetch("/verify-card", { method: "POST", body: formData });
            const data = await response.json();

            if (data.success) {
                alert(data.message || "Card verified successfully!");
                location.reload();
            } else {
                alert("Error verifying card: " + data.message);
            }
        } catch (error) {
            console.error("Error:", error);
            alert("An error occurred while verifying your card.");
        }
    });

    function checkAadhaarUploads() {
            if (uploadAadhaarCard1.files.length > 0 && uploadAadhaarCard2.files.length > 0) {
                verifyAadhaarBtn.disabled = false;
            } else {
                verifyAadhaarBtn.disabled = true;
            }
        }

        // Add event listeners to both file inputs
        uploadAadhaarCard1.addEventListener("change", checkAadhaarUploads);
        uploadAadhaarCard2.addEventListener("change", checkAadhaarUploads);

    // Handle Aadhaar form submission
    verifyAadhaarBtn.addEventListener("click", async function (event) {
        event.preventDefault();
        const formData = new FormData();
        if (uploadAadhaarCard1.files.length > 0) {
            formData.append("aadhaar1", uploadAadhaarCard1.files[0]);
        } else {
        alert("Please select Aadhaar card frontside to verify.");
        return; // Exit the function if no image is selected
        }

        if (uploadAadhaarCard2.files.length > 0) {
            formData.append("aadhaar2", uploadAadhaarCard2.files[0]);
        } else {
        alert("Please select Aadhaar card backside to verify.");
        return; // Exit the function if no image is selected
        }

        try {
            const response = await fetch("/verify-aadhaar", { method: "POST", body: formData });
            const data = await response.json();

            if (data.success) {
                alert(data.message || "Aadhaar card verified successfully!");
                location.reload();
            } else {
                alert("Error verifying Aadhaar: " + data.message);
            }
        } catch (error) {
            console.error("Error:", error);
            alert("An error occurred while verifying your Aadhaar.");
        }
    });
});

</script>
        </main>
        <!-- **************** MAIN CONTENT END **************** -->

        <%- include('./partials/footer') %>